*{
    margin: 0;
    padding: 0;
}
:root{
    --text-black: #000000;
    --text-white: #f1f1f1;
    --color1: #0070c0;
    --color2: #081f2c;
    --color3: #384043;
    --color4: yellow;
    --color5: brown;
    --border: 1px solid #000000;
    --border-link: 2px solid #0070c0;
}
body{
    background-color: #384043;
}
a{
    text-decoration: none;
    color: inherit;
}

/* === HEADER === */

header{
    background-color: var(--color2);
    color: var(--text-white);
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.marca, .menu, .menu p{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.marca{
    width: 35vw;
    padding-left: 2em;
    justify-content: start;
}
.marca h1{
    padding-left: 0.5em;
}
.menu{
    width: 55vw;
    padding-right: 2em;
    justify-content: end;
}
.menu p{
    width: 7vw;
    height: 5vh;
    justify-content: center;
    border-bottom: 2px solid var(--color2);
}
.menu p:hover{
    color: var(--color1);
    border-bottom: var(--border-link);
}
