*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:root{
    --border: 1px solid black;
    --cor1: #7b7b7b;
    --cor2: #1549f3;
    --cor3: #05b4ac;
    --preto: #070707;
    --branco: #f5f2f2;
}


/* === header === */
header{
    background-color: var(--preto);
    color: var(--branco);
}
.nav-header{
    width: 99vw;
    height: 12vh;
    border: var(--border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.h3{
    margin-left: 1em;
}
.menu-principal{
    width: 50vw;
    height: 10vh;
    border: var(--border);
    margin-right: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    header{
        display: none;
    }
}


/* === Componentes === */
.btn{
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    border: none;
    background-color: inherit;
    color: var(--branco); 
}
.btn:hover{
    background-color: var(--cor2);
}
.btn-active{
    background-color: var(--cor2);
}