body{display: flex;flex-direction:column;align-items: center;}
:root{
    --bgcolor: #959595;
    --fontColor: #000000;
    --color1: blue;
    --color2: red;
    --color3: green;
}

/* =.=.= HEADER =.=.= */
header{
    width: 98vw;
    height: 12vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header div{
    width: 32vw;
    height: 8vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* =.=.= SECTION =.=.= */
section{
    width: 98vw;
    height: 150vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.frases,.servicos,.visao-missao,.contato{
    width: 96vw;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frases,.visao-missao,.contato{
    height: 30vh;
}
.servicos{
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.servicos div{
    width: 25vw;
    height: 25vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =.=.= FOOTER =.=.= */
footer{
    width: 98vw;
    height: 35vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu-footer{
    width: 98vw;
    height: 45vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-footer div{
    width: 98vw;
    height: 35vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-footer{
    width: 98vw;
    height: 10vh;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
}