:root{
    --bgcolor: #DFE0E2;
    --fontColor: #071013;
    --color1: #23B5D3;
    --color2: #75ABBC;
    --color3: #A2AEBB;
}

body{display: flex;flex-direction:column;align-items: center;
    color: var(--fontColor);background-color: var(--color1);}

/* =.=.= HEADER =.=.= */
header{
    width: 98vw;
    height: 15vh;
    background-color: var(--color1);
   

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header div{
    width: 15vw;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.logo{
    width: 15vw;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 14vh;
    border-radius: 0.5vh;
}
header nav{
    width: 72vw;
    height: 8vh;
    
    
    display: flex;
    justify-content:end;
    align-items:end;
}
.nav-item{
    padding-left: 3em;
}
.dropdown{
    background-color: var(--color1);
}


/* =.=.= SECTION =.=.= */
section{
    width: 98vw;
    height: 150vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.frases,.servicos,.visao-missao,.contato{
    width: 96vw;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frases,.visao-missao,.contato{
    height: 30vh;
}
.servicos{
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.servicos div{
    width: 25vw;
    height: 25vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =.=.= FOOTER =.=.= */
footer{
    width: 98vw;
    height: 35vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu-footer{
    width: 98vw;
    height: 45vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-footer div{
    width: 98vw;
    height: 35vh;
    border: 1px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-footer{
    width: 98vw;
    height: 10vh;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
}