.conteiner, .conteiner-servicos {
    width: 100vw;
    height: 43vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.conteiner-servicos {
    width: 25vw;
    height: 43vh;
    background: linear-gradient(rgba(4, 3, 61, 0.5),rgba(4, 3, 61, 0.5));
    border: 2px solid var(--color1);
    border-radius: 0.8em;
    color: var(--white);
    transition: 0.3s;
}

.conteiner-servicos:hover {
    background-color: var(--color1);
    scale: 1.03;
}

@media (max-width: 768px) { 
    
    .conteiner {
        flex-direction: column;
    }
    .conteiner-servicos {
        width: 60vw;
        height: 10vh;
    }
                   
}  