.frases {
    color: var(--white);
    text-shadow: var(--color1) 1px 0 10px;
    display: flex;
    justify-content: space-evenly;
}
.frases h1 {
    font-size: 2em;
    font-weight: bolder;
}
.frases h3, .frases h5 {
    font-size: 1.2em;
    text-shadow: var(--color1) 5px 5px 5px;
}

@media (max-width: 768px) { 
    
    .frases h3 {
        display: none;
    }   
                   
}   

 