.header {
    background-color: var(--color1);
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 0 3vw;
}
.img-logo {
    height: 13vh;
}

@media (max-width: 768px) { 
    
    .header{
        justify-content:center;
    }    
                   
} 