@import "../globals.css";

.services-section {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--cor_04);
}
.services-section-max {
  max-width: 1400px;
  text-align: center;
}
.tag {
  display: inline-block;
  background: var(--cor_07);
  color: var(--cor_10);
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.services-section h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--cor_01);
}

.subtitle {
  font-size: 1.1rem;
  color: var(--cor_03);
  margin-bottom: 2.5rem;
}

/* ===== Cards container ===== */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; 
}

.lucide1 {
 
  background-color: var(--cor_01);
}