.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;

  
}
.whatsapp-float .avatar {
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.chat-container {
  position: fixed;
  bottom: 90px;
  right: 100px;
  width: 340px;
  height: 480px;
  background: #ece5dd;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);

  opacity: 0;
  transform: translateY(20px) scale(0.95);
  pointer-events: none;
  transition: all 0.3s ease;
}

.chat-container.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: block;
  font-size: 12px;
  opacity: 0.8;
}

.chat-body {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.msg {
  max-width: 75%;
  padding: 8px 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;
}

.msg.bot {
  background: white;
  align-self: flex-start;
  white-space: pre-line;
}

.msg.user {
  background: #dcf8c6;
  align-self: flex-end;
}

.msg.typing {
  font-style: italic;
  opacity: 0.6;
 
}

.chat-input {
  display: flex;
  padding: 8px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  outline: none;
}

.chat-input button {
  background: #25D366;
  border: none;
  color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 6px;
  cursor: pointer;
}
