/* ================================ */
/* ===== BOTÃO VOLTAR AO TOPO ===== */
/* ================================ */
.scroll-to-top {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #000;
  color: var(--cor_09);
  padding: 15px 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}
.scroll-to-top.show {
  display: block; /* Torna o botão visível quando a página é rolada */
}
  
/* ================================ */
/* ===== BOTÃO DO WHATSAPP ======== */
/* ================================ */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--cor_06);
  padding: 10px;
  border-radius: 50%;
  z-index: 100;
}
.whatsapp-button img {
  width: 50px;
  height: 50px;
}