@import "../app/globals.css";

.footer {
  width: 100%;
  height: 8vh;
  background-color: var(--cor_01);
  color: var(--cor_09);
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.7rem;
  margin-top: 2rem;
}



.footer a {
  color: var(--cor_09);
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer a:hover {
  text-decoration: underline;
}
