/* SectionTitle.css */
.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #0f172a;
}

.section-title-center {
  text-align: center;
}

.section-title-start {
  text-align: left;
}

.section-title-end {
  text-align: right;
}

/* Reutiliza a .gradient-text do seu projeto */
.gradient-text-title {
  background: linear-gradient(90deg, #e7ad0c, #1d1b1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
