:root {
    --cor_01: #1a2730;
    --cor_02: #45586c;
    --cor_03: #424048;
    --cor_04: #b0cee2;
    --cor_05: #a63e1b;
    --cor_06: #e95d2c;
    --cor_07: #f8cc53;
    --cor_08: #e7ad0c;
    --cor_09: #fff;
    --cor_10: #000;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ================================== */
/* === HEADER COM MENU RESPONSIVO === */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 92vh;
    background: linear-gradient(to top, rgb(26, 39, 48, 0.95), 
    rgb(26, 39, 48, 0.8)), url('./img/bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    color: var(--cor_09);
    padding: 20px 30px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texts {
    width: 40%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.texts h1 {
    font-size: 4em;
}
.texts button {
    width: 12vw;
    height: 5vh;
    padding: 10px 20px;
    background: var(--cor_08);
    color: var(--cor_09);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}
.texts button:hover {
    background-color: var(--cor_07);
}
.logo {font-size: 1.5em;font-weight: bold;}
.nav-links {list-style-type: none;display: flex;margin: 0;padding: 0;}
.nav-links li {margin: 0 10px;}
.nav-links a {color: var(--cor_09);text-decoration: none;transition: color 0.3s;}
.nav-links a:hover {color: var(--cor_04);}
.menu-toggle {display: none;font-size: 1.5em;background: none;border: none;
    color: var(--cor_09);cursor: pointer;}

@media screen and (max-width: 768px) {
    .nav-links {flex-direction: column;display: none;background-color: var(--cor_01);
        position: absolute;top: 55px;right: 0;width: 30%;}
    .nav-links.show {display: flex;}
    .menu-toggle {display: block;}
    .texts {width: 100%;height: 50vh;}
    .texts h1 {font-size: 3em;}
    .texts h2 {font-size: 1.5em;}
    .texts button {width: 35vw;}
}
/* === FIM - HEADER COM MENU RESPONSIVO === */
/* ======================================== */

/* ================================ */
/* === MAIN COM MENU RESPONSIVO === */
main {
    padding: 20px;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, var(--cor_02), var(--cor_04));
    color: var(--cor_09);
    text-align: center;
    padding: 50px 20px;
}
.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.hero button {
    width: 12vw;
    height: 5vh;
    padding: 10px 20px;
    background: var(--cor_08);
    color: var(--cor_09);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease;
}
.hero button:hover {
    background-color: var(--cor_07);
}

/* Services Section */
.cards {
    text-align: center;
    margin-top: 40px;
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-img img {
    border-radius: 1em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}
.card-item {
    background: var(--cor_09);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 300px;
}

/* Lead Section */
.lead {
    background: var(--cor_09);
    padding: 40px 20px;
    margin-top: 40px;
    text-align: center;
}
.lead form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
.lead input, .lead textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--cor_04);
    border-radius: 5px;
}
.lead button {
    width: 12vw;
    height: 5vh;
    padding: 10px 20px;
    background: var(--cor_08);
    color: var(--cor_09);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease;
}
.lead button:hover {
    background-color: var(--cor_07);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .hero button,.lead button {width: 35vw;}
    .service-list {
        flex-direction: column;
    }
}
/* ====================================== */
/* === FIM - MAIN COM MENU RESPONSIVO === */

/* ================================== */
/* === FOOTER COM MENU RESPONSIVO === */
.footer {
    background-color: var(--cor_01);
    color: var(--cor_09);
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.footer-container div {
    margin: 10px;
    max-width: 300px;
}

.footer-container h3 {
    margin-bottom: 10px;
}

.footer-container p, .footer-container ul {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    margin-bottom: 5px;
}

.footer-container ul li a {
    color: var(--cor_04);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-container ul li a:hover {
    color: var(--cor_09);
}

.footer-bottom {
    background-color: var(--cor_02);
    padding: 10px 0;
    font-size: 0.8em;
    color: var(--cor_01);
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-container div {
        text-align: center;
    }
}
/* === FIM - FOOTER COM MENU RESPONSIVO === */
/* ======================================== */