@import '../globals.css';

/* Pricing */
#pricing {
 width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cor_07);
  text-align: center;
}
.pricing-max {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ================= CARD ================= */

.pricing-card {
  background: #fff;
  border-radius: 16px;
  padding: 1rem 0.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 28%;
  position: relative;
}

.pricing-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* ================= TÍTULO ================= */

.pricing-card h3 {
  margin-bottom: 1rem;
  color: #111;
  font-size: 1.4rem;
}

.pricing-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; 
}

/* ================= DIFERENCIAIS ================= */

.precos-diferenciais {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  text-align: center;
}

.precos-diferenciais div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}



/* Responsividade */
@media (max-width: 768px) {
  #pricing {
  padding: 2rem 0;
  }
  .tag-portifolio {
    font-size: 0.7rem;
  }
  .pricing-grid {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .precos-diferenciais {
    flex-direction: column;
    gap: 20px;
  }
    .precos-diferenciais {
    gap: 30px;
  }
}