* {margin: 0;padding: 0;}
body {margin: 0;font-size:1rem;font-family: 'Montserrat', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.page {width: 100%;display: flex;flex-direction: column;text-align: center;align-items: center;}
:root {
  --cor_01: #1a2730;
  --cor_02: #45586c;
  --cor_03: #424048;
  --cor_04: #b0cee2;
  --cor_05: #a63e1b;
  --cor_06: #e95d2c;
  --cor_07: #f8cc53;
  --cor_08: #e7ad0c;
  --cor_09: #fff;
  --cor_10: #000;
  --grad_01: rgb(26, 39, 48, 0.97);
  --grad_02: rgba(247, 248, 245, 0.85);
}
/* Computador */
  h1 {font-size: 2rem;font-weight: bolder;}
  h2 {font-size: 1.2rem;}
  h3 {font-size: 1.2rem;}
  p {font-size: 1rem;}
  h4 {font-size: 0.8rem;}
  a {text-decoration: none;color: inherit;}

/* Tablets */
@media (max-width: 1024px) { 
  h1 {font-size: 1.75rem;font-weight: bolder;}
  h2 {font-size: 1.2rem;}
  h3 {font-size: 1rem;}
  p {font-size: 0.8rem;}
}

/* Tablets */
@media (max-width: 768px) { 
  h1 {font-size: 1.5rem;font-weight: bolder;}
  h2 {font-size: 1rem;}
  h3 {font-size: 0.8rem;}
  p {font-size: 0.5rem;}
  h4 {font-size: 0.6rem;}
}