@import "../style.css";

p {
    color: var(--cor01);
}

/* ================================ */
/* ===== BOTÃO VOLTAR AO TOPO ===== */
/* ================================ */
.scroll-to-top {
    position: fixed;
    /* Altura do botão */ bottom: 35px;
    
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
  
    right: 0px;
    padding: 5px 5px;
    border-radius: 0%;
  
    cursor: pointer;
    z-index: 100;
  }
  .scroll-to-top.show {
    display: block; /* Torna o botão visível quando a página é rolada */
  }
    
/* ================================ */
/* ===== BOTÃO DO WHATSAPP ======== */
/* ================================ 
.whatsapp-button {
  position: fixed;
  /* Altura do botão  bottom: 100px; 
  background-color: #000;

  right: 0px;
  padding: 0px;
  border-radius: 0%;

  z-index: 100;
}
.logo-whats {
  width: 50px;
  height: 50px;
}
*/

.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 24px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  animation: pulse 1.5s infinite;
}
.whatsapp-button:hover {
  background-color: #1ebe5d;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(37, 211, 102, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0.5);
  }
}
  
  /* ================================ */
  /* ===== FORM DE LEAD ============= */
  /* ================================ */



  /* =================================== */
  /* ===== MENU RESPONSIVO ============= */
  /* =================================== */

/* Estilização do menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-menu li {
  display: inline-block;
}
.nav-menu a {
  text-decoration: none;
  color: var(--cor_09);
  font-size: 1.2em;
  padding: 8px 12px;
  transition: color 0.3s ease;
}
.nav-menu a:hover {
  color: var(--cor_02);
}

/* Estilos para o botão de menu no mobile */
.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }

  .nav-menu.open {
    background: var(--cor_02);
    display: flex;
  }

  .nav-menu li {
    text-align: center;
    padding: 10px 0;
  }
}