@import "../style.css";

p {
    color: var(--cor01);
}

/* ================================ */
/* ===== BOTÃO VOLTAR AO TOPO ===== */
/* ================================ */
.scroll-to-top {
    position: fixed;
    /* Altura do botão */ bottom: 35px;
    
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
  
    right: 0px;
    padding: 5px 5px;
    border-radius: 0%;
  
    cursor: pointer;
    z-index: 100;
  }
  .scroll-to-top.show {
    display: block; /* Torna o botão visível quando a página é rolada */
  }
    
  /* ================================ */
  /* ===== BOTÃO DO WHATSAPP ======== */
  /* ================================ */
  .whatsapp-button {
    position: fixed;
    /* Altura do botão */ bottom: 100px; 
    background-color: #000;
  
    right: 0px;
    padding: 0px;
    border-radius: 0%;
  
    z-index: 100;
  }
  .whatsapp-button img {
    width: 50px;
    height: 50px;
  }
  
  /* ================================ */
  /* ===== FORM DE LEAD ============= */
  /* ================================ */



  /* =================================== */
  /* ===== MENU RESPONSIVO ============= */
  /* =================================== */

  /* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/* Estilização do menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: blue;
}

/* Botão de login */
.login-btn {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: darkblue;
}

/* Estilos para o botão de menu no mobile */
.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }

  .nav-menu.open {
    background: var(--cor_02);
    display: flex;
  }

  .nav-menu li {
    text-align: center;
    padding: 10px 0;
  }
}