:root {
    --cor_01: #1a2730;
    --cor_02: #45586c;
    --cor_03: #424048;
    --cor_04: #b0cee2;
    --cor_05: #a63e1b;
    --cor_06: #e95d2c;
    --cor_07: #f8cc53;
    --cor_08: #e7ad0c;
    --cor_09: #fff;
    --cor_10: #000;
}

/* === BOTÕES === */
.button {
    width: 22vw;
    height: 6vh;
    border-radius: 2vh;
    background-color: var(--cor_08);
    border: 1px solid var(--cor_08);
    font-size: 1.2em;
    color: #1a2730;
}
.button:hover {
    background-color: var(--cor_01);
    border: 1px solid var(--cor_06);
    color: var(--cor_09);
    transition: 0.4s;
}

@media (max-width: 768px) {
    .button {
        font-size: 0.8em;
    }

}

/* === MENU SUSPENSO === */
.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 10;
}
.menu-toggle {
    color: var(--cor_09);
    font-size: 2em;
    cursor: pointer;
    display: none;
}
.nav {
    width: 30vw;
    display: flex;
    align-items: center;
}
.nav-list {
    list-style-type: none;
    width: 100%;
    display: flex;
}
.nav-item{
    width: 100%;
    height: auto;
}
.nav-link {
    color: var(--cor_09);
    text-decoration: none;
    font-size: 1.2em;
}
.nav-link:hover {
    color: var(--cor_04);
}
  
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position:absolute;
  }

  .nav {
    display: none;
    flex-direction: column;
    background-color: var(--cor_01);
    margin-top: 25vh;
  }

  .nav.open {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
  }
}


/* === LINK === */
Link {
    font-size: 1.5em;
    color: var(--cor_09);
}
.link {
    font-size: 1.5em;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}
.link label {
    font-size: 1.5em;
}
.link:hover {
    transition: 0.4s;
    color: var(--cor_04);
    cursor: pointer;
}

@media (max-width: 768px) {
    .link {
        font-size: 0.8em;
    }

}