@import "../style.css";

/* ================================ */
/* ===== BOTÃO VOLTAR AO TOPO ===== */
/* ================================ */
.scroll-to-top {
    position: fixed;
    bottom: 60px; /* Altura do botão */
    
    transform: translateY(-50%);
    background-color: var(--cor_08);
    color: var(cor_01);
  
    right: 0px;
    padding: 10px 10px;
    border-radius: 10px 0 0 10px;
  
    cursor: pointer;
    z-index: 100;
  }
  .scroll-to-top.show {
    display: block; /* Torna o botão visível quando a página é rolada */
  }
    
/* ================================ */
/* ===== BOTÃO DO WHATSAPP ======== */
/* ================================ */

.whatsapp-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #25d366;
  color: white;
  font-size: 24px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  animation: pulse 1.5s infinite;
}
.whatsapp-button:hover {
  background-color: #1ebe5d;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0.5);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(37, 211, 102, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(37, 211, 102, 0.5);
  }
}


.btn {
  width: 20vw;
  height: 7vh;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.saiba-mais {
  background-color: var(--cor_08);
  color: var(--cor_09);
}
.saiba-mais:hover {
  background-color: var(--cor_06);
}


/* ================================ */
/* ===== FORM DE LEAD ============= */
/* ================================ */


/* =================================== */
/* ===== MENU RESPONSIVO ============= */
/* =================================== */

/* Estilização do menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-menu li {
  display: inline-block;
}
.nav-menu a {
  text-decoration: none;
  color: var(--cor_09);
  font-size: 1.2em;
  padding: 8px 12px;
  transition: color 0.3s ease;
}
.nav-menu a:hover {
  color: var(--cor_02);
}

/* Estilos para o botão de menu no mobile */
.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }
  .nav-menu.open {
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    z-index: 10;
  }
  .nav-menu li {
    text-align: center;
    padding: 10px 0;
  }
}



/* =================================== */
/* ======== DIVS DESLIZANTES ========= */
/* =================================== */
.divs-desl {
  position: relative;
  width: 100%; /* Ajuste conforme necessário */
  height: 80vh;
  overflow: hidden; /* Garante que as divs não apareçam antes da animação */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-in, .slide-right {
  width: 50%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.slide-in p, .slide-right p {
  font-size: 1.8rem;
}
.slide-in {
  left: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-out;
  
}
.slide-right {
  right: 0;
  transform: translateX(100%);
  transition: transform 1s ease-in;
 
}
/*.slide-in h2, .slide-right h2 {
  color: var(cor_01);
}*/
.slide-in.active, .slide-right.active {
  width: 45%;
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .divs-desl {
    width: 95%;
    height: auto;
    flex-direction: column;
  }
  .slide-in, .slide-right {
    width: 90%;
    height: auto;
    position: relative; /* Removendo o posicionamento absoluto */
    margin-bottom: 20px; /* Garantir um espaçamento entre as divs */
  }
  .slide-right {
    height: 95vh;
  }
  .slide-in.active, .slide-right.active {
    width: 80%;  /* Garantir que a largura seja ajustada também na classe 'active' */
  }
}



/* ============================================= */
/* =========== SECMAIN - FULL IMAGE ============ */
/* ============================================= */
.fullscreen-container {
  width: 100%;
  height: 100vh;
  background: url("../img/fundo_site.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Impede que o brilho saia da tela */
}
/* Círculo de brilho se movendo */
.fullscreen-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9), rgba(0, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: random-move 5s ease-in-out infinite;
  pointer-events: none; /* Faz com que o brilho não interfira com outros elementos */
}
@keyframes fadeInOut {
  0% { opacity: 0;  }
  50% { opacity: 50; }
  100% { opacity: 0; }
}
@keyframes random-move {
  0% { top: 10%; left: 10%; }
  25% { top: 40%; left: 90%; }
  50% { top: 70%; left: 10%; }
  75% { top: 90%; left: 90%; }
  100% { top: 10%; left: 10%; }
}
@keyframes light-glow {
  0% {transform: translate(-50%, -50%) translateX(-200%); }
  10% { transform: translate(-50%, -50%) translateX(200%); }
  100% { transform: translate(-50%, -50%) translateX(-200%); }
}
/* Película escura */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 39, 48, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Conteúdo centralizado */
.fullscreen-conteudo {
  width: 100%;
  height: 50%;
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--cor_09);
  text-align: center;
  padding: 20px;
}
/* Títulos */
.fullscreen-conteudo h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

/* ============================================= */
/* ============================================= */




/* Botão */
.btn.saiba-mais {
  width: 20vw;
  height: 6vh;
  background-color: var(--cor_08);
  color: var(--cor_09);
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn.saiba-mais:hover {
  background-color: var(--cor_06);
}

@media screen and (max-width: 768px) {
  .fullscreen-conteudo {
    width: 90%;
    max-width: none;
    padding: 15px;
  }

  .fullscreen-conteudo h1 {
    font-size: 1.8rem;
  }

  /*
  .fullscreen-conteudo h2 {
    font-size: 1.1rem;
  }
    */

  .btn.saiba-mais {
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}




/* =================================== */
/* ======== BACK TRANSITION ========== */
/* =================================== */
.background-container {
  width: 100%;
  height: 100vh;
  background-color: #1a2730;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necessário para o pseudo-elemento */
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  transition: background-color 3s ease-in-out;
}

/* Transição da imagem de fundo */
.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/back-transition.png') no-repeat center center/cover;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

/* Quando a classe show-image é ativada, a imagem de fundo aparece */
.background-container.show-image::after {
  opacity: 0.2; /* A imagem se torna visível */
}

/* Estilo do conteúdo central */
.content {
  z-index: 1; 
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 20px; /* Adicionando um pequeno padding para não ficar colado nas bordas */
}
.content p {
  color: var(--cor_09);
  font-size: 2rem;
}

/* Tamanho d título */
.content h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  /* Ajuste para telas de dispositivos móveis (tablets e smartphones) */
  .background-container {
    height: 80vh; /* Menor altura para dispositivos móveis */
    background-size: cover;
    background-position: center center;
  }
  .background-container.show-image::after {
    opacity: 0.2; /* A imagem se torna visível */
  }
  .content p {
    font-size: 1.4rem;
  }
  .content h3 {
    font-size: 1.8rem; /* Tamanho do título ainda menor */
  }
  
  .content {
    padding: 20px 15px; /* Ajuste do padding para telas menores */
  }
}





.sub-titulos {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 30px 10px;
  text-shadow: 2px 2px 4px var(--cor_04);
}
@media screen and (max-width: 768px) {
  
  .sub-titulos {
    font-size: 2rem;
  }

}




/* =================================== */
/* ============== ESFERA ============= */
/* =================================== */
.sphere-wrapper {
  perspective: 800px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Anéis horizontais */
.ring-horizontal,
.ring-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(52, 20, 233, 0.9);
  border-radius: 50%;
}

/* Anéis verticais precisam rotacionar em Y e serem mais "finos" */
.ring-vertical {
  transform-origin: center;
}

.sphere {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(.94,.08,.94,.07) 0s; /* animação suave entre rotações */
}

/* PARA MOVIMENTO EM Y
.sphere {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateY 1s ease-in-out infinite alternate;
}

 Animação girando no eixo Y 
@keyframes rotateY {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
  */

/* =================================== */
/* =================================== */

/* =================================== */
/* ============= SOBRE =============== */
/* =================================== */

.sobre,.servicos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre {
  background-color: var(--cor_01);
}
.servicos {
  background-color: var(--cor_09);
}
.vmv-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
  gap: 20px;
  padding: 40px 20px;
  flex-wrap: wrap;
}
.container-sobre {
  height: 70vh;
  background-color: var(--cor_01);
}

.container-servicos {
  background-color: var(--cor_09);
}
.card-sobre {
  background-color: var(--cor_09);
}
.card-sobre:hover {
  background-color: var(--cor_07);
}
.card-servicos {
  background-color: var(--cor_01);
}
.vmv-card {
  flex: 1 1 300px;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 250px;
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.vmv-card:hover {
  
  transform: translateY(-20px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.card-sobre-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-sobre img {
  width: 20%;
}

.vmv-card h3 {
  color: var(--cor_01);
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-sobre-p {
  font-size: 2rem;
  color: var(--cor_01);
}
.card-servicos-p {
  color: var(--cor_09);
}


/* Responsivo para tablets e celulares */
@media screen and (max-width: 768px) {
  .vmv-container {
    flex-direction: row;
    align-items: center;
  }

  .vmv-card {
    max-width: 80%;
    margin-bottom: 20px;
  }
}


