:root {
  --cor_01: #1a2730;
  --cor_02: #45586c;
  --cor_03: #424048;
  --cor_04: #b0cee2;
  --cor_05: #a63e1b;
  --cor_06: #e95d2c;
  --cor_07: #f8cc53;
  --cor_08: #e7ad0c;
  --cor_09: #fff;
  --cor_10: #000;
}
  

.app,.routes-app,.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* === IMAGEM BACKGROUND === */
.bg-imagem {
  width: 100%;
  height: 85vh;
  background: linear-gradient(to right, rgb(26, 39, 48, 0.9), 
    rgb(26, 39, 48, 0.9)), url('../img/bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  display: flex;
  justify-content: end;
  align-items: end;
 z-index: -100px;
}
.titulos {
  text-align: end;
  padding: 15vh;
  color: var(--cor_09);
  text-shadow: 2px 2px 5px rgba(255,255,255,0.5);
}
.titulos h1 {
  font-size: 4em;
}
.titulos h2 {
  font-size: 2.5em;
}

@media (max-width: 768px) {
  .titulos {
    padding: 3vh;
  }
  .titulos h1 {
    font-size: 1.7em;
  }
  .titulos h2 {
    font-size: 1.1em;
  }
}


/* === SOLUÇÃO PARA O CLIENTE === */
.solucao {
  width: 100%;
  height: 85vh;
  background-color: var(--cor_09);
  display: flex;
  justify-content: center;
  align-items: center;
}
.solucao-conteudo {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.solucao-conteudo div {
  width: 48%;
  height: 75vh;
  
}
.solucao-conteudo-img {
  background: linear-gradient(to left, rgb(26, 39, 48, 0.2), 
    rgb(26, 39, 48, 0.2)), url('../img/solucao-1.png');
    background-repeat:no-repeat;
    background-size: cover;
  border-radius: 5em 0 5em 0;
}
.solucao-conteudo-txt {
  text-align: center;
  font-size: 2em;
  color: var(--cor_01);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .solucao-conteudo {
    width: 95%;
    height: 82vh;
    flex-direction: column;
  }
  .solucao-conteudo div {
      width: 90%;
      height: 40vh;
  }
}
  

/* === COMPROMISSO COM O CLIENTE === */
.compromisso {
  width: 100%;
  height: 85vh;
  background-color: var(--cor_04);
  display: flex;
  justify-content: center;
  align-items: center;
}
.comp-conteudo {
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #000;
}
.comp-conteudo div {
  width: 40%;
  height: 65vh;
  border: 1px solid #000;
}
@media (max-width: 768px) {
  .comp-conteudo {
    width: 95%;
    height: 82vh;
    flex-direction: column;
  }
  .comp-conteudo div {
      width: 90%;
      height: 40vh;
  }
}


/* === RESUMO DE SERVIÇOS === */
.home-servicos {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.home-serv-conteudo {
  width: 80%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  border: 1px solid #000;
}
.serv-conteudo {
  width: 50%;
  height: 37vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
}
.serv-conteudo-item {
  width: 40%;
  height: 36vh;
  border: 1px solid #1512d6;
}
@media (max-width: 768px) {
  .home-serv-conteudo {
    width: 98%;
  }
  .serv-conteudo {
  width: 98%;
  height: 37vh;
  }
  .serv-conteudo-item {
    width: 48%;
  }

}

/* === FORMULÁRIO DE DÚVIDAS === */
.duvidas {
  width: 100%;
  height: 85vh;
  background-color: var(--cor_04);
  display: flex;
  justify-content: center;
  align-items: center;
}
.duvidas-conteudo {
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #000;
}
.duvidas-conteudo div {
  width: 40%;
  height: 65vh;
  border: 1px solid #000;
}
@media (max-width: 768px) {
  .duvidas-conteudo {
    width: 98%;
    flex-direction: column;
  }
  .duvidas-conteudo div {
    width: 98%;
    height: 35vh;
  }
}


/* === PARCEIRO DO CLIENTE === */
.parceria {
  width: 100%;
  height: 85vh;
  background-color: var(--cor_09);
  display: flex;
  justify-content: center;
  align-items: center;
}
.parceria-conteudo {
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #000;
}
.parceria-conteudo div {
  width: 40%;
  height: 65vh;
  border: 1px solid #000;
}
@media (max-width: 768px) {
  .parceria-conteudo {
    width: 95%;
    height: 82vh;
    flex-direction: column;
  }
  .parceria-conteudo div {
      width: 90%;
      height: 40vh;
  }
}


/* === PLANOS DE PAGAMENTO === */
.home-planos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor_01);
  color: var(--cor_09);
}
.home-planos-conteudo {
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}
.home-planos-conteudo-itens {
  width: 30%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
.home-planos-conteudo-itens:hover {
  background-color: var(--cor_09);
}
@media (max-width: 768px) {
  .home-planos-conteudo {
    width: 98%;
    flex-direction: column;
  }
  .home-planos-conteudo-itens{
    width: 98%;
    height: 24vh;
  }

}



/* === PORTIFÓLIO DE SERVIÇOS === */
.portifolio {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.portifolio-carroussel {
  width: 70%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}




/* === logo giratório === */
@keyframes header-img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}