* {margin: 0;padding: 0;}
:root {
  --cor_01: #1a2730;
  --cor_02: #45586c;
  --cor_03: #424048;
  --cor_04: #b0cee2;
  --cor_05: #a63e1b;
  --cor_06: #e95d2c;
  --cor_07: #f8cc53;
  --cor_08: #e7ad0c;
  --cor_09: #fff;
  --cor_10: #000;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {text-decoration: none;}
h1 {font-size: 5rem; color: var(--cor_09);}
.text-h2 {font-size: 3em; }
h3 {font-size: 1.8em; color: var(--cor_09);}
h4 {font-size: 1.6em; color: var(--cor_09);}
h5 {font-size: 1.4em; color: var(--cor_09);}
p {font-size: 1.4em; color: var(--cor_01);}
.App {
  text-align: center;
}
h3 {
  color: #fff;
}
h5 {
  font-size: 2em;
}
.routes-app {
  width: auto;

}


@media screen and (max-width: 768px) {

  .text-h2 {
    font-size: 1.3rem;
  }

}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.home-sobre-titulo {
    width: 100%;
    height: 20vh;
    background-color: var(--cor_01);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-servicos-titulo {
  width: 100%;
  height: 20vh;
  background-color: var(--cor_09);
  display: flex;
  justify-content: center;
  align-items: center;
}
