:root{
    --white: #DCE0D9;
    --black: #071013;
    --color1: #04033d;
    --color2: #2f97c1;
    --color3: #1D0C32;
    --btn: #FFE74C;
  }
  

.header {
    background-color: var(--color1);
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.frases {
    height: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--black);
  }
.servicos{
    height: 46vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--black);
  }