:root {
  --bg_escuro: #000000;
  --bg_claro: #ffffff;
  --font_escuro: #000000;
  --font_claro: #ffffff;
}


.App {
  text-align: center;
}



/* logo giratório */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
