* {margin: 0;padding: 0;}
:root {
  --cor_01: #1a2730;
  --cor_02: #45586c;
  --cor_03: #424048;
  --cor_04: #b0cee2;
  --cor_05: #a63e1b;
  --cor_06: #e95d2c;
  --cor_07: #f8cc53;
  --cor_08: #e7ad0c;
  --cor_09: #fff;
  --cor_10: #000;
}
a {text-decoration: none;}

.App {
  text-align: center;
}
h3 {
  color: #fff;
}
h5 {
  font-size: 2em;
}




